<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>362584346528-p87th9a2s0lo6pmju151df0ctl4s7ec2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362584346528-p87th9a2s0lo6pmju151df0ctl4s7ec2</string>
	<key>API_KEY</key>
	<string>AIzaSyAntUb2TQWayHk1lY8AjpPq-aVlyLlGSHE</string>
	<key>GCM_SENDER_ID</key>
	<string>362584346528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samjm.stardefender</string>
	<key>PROJECT_ID</key>
	<string>star-defender</string>
	<key>STORAGE_BUCKET</key>
	<string>star-defender.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362584346528:ios:6051a31dc54e9522</string>
	<key>DATABASE_URL</key>
	<string>https://star-defender.firebaseio.com</string>
</dict>
</plist>